header{
	flex-direction: column;
	width:700px;
}
#titre_principale{
	height:100px;
	background-image:url("../images/Bordure_cahier.png");
	background-repeat: no-repeat;
	background-position: bottom;
	text-align: center;
	font-size: 24px;
}