#menu {
	height: 60px;
	list-style-type: none;
}
#menu a:hover{
	height: 55px;
	box-shadow: 2px 4px 2px black;
}
#menu a{
	height: 45px;
	width: 120px;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 15px 15px;
	margin-right: 1px;
	text-align: center;
}
#onglet1{
	background-color: #98D8F8;
	margin-top:-10px;
}
#onglet2{
	background-color: #C8F898;
	margin-top:-8px;
}
#onglet3{
	background-color: #FBC8F6;
	margin-top:-6px;
}
#onglet4{
	background-color: #FBF6C8;
	margin-top:-4px;
}
#onglet5{
	background-color: #FFA763;
	margin-top:-2px;
}