
#tableau{ /* Créer un tableau pour lt'affichage*/
	font-size: 120px;
	text-align: right;
	margin-right: 120px;
	margin-top: 40px;
}
article{
	border:5px ridge #EEC960;
	background-image: url("../images/Tableau_Craie_4.jpg");
	background-repeat: no-repeat;
	z-index: 1;
	height: 400px; /* Dimension de l'image */
	width: 484px; /* Dimension de l'image */
	font-family: DK Crayon Crumble, "Comic Sans MS", Arial, sans-serif;
	color: white;
}